.followers_wraps {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 228px;
  width: 500px;
  border-radius: 5px;
  width: 700px;
  height: 700px;
}

.post_box {
  align-items: center;
  justify-content: center;
}

.small_circle {
  position: absolute;
  right: 0;
  top: 6px;
}

.single_follower {
  /* background: rgb(253, 249, 249); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  box-shadow: 2px 3px 5px -1px grey;
  border-radius: 4px;
  margin: 5px 10px;
}
